#theGoods {
	border:solid 10px #AFAFAF;
	margin: auto;
	overflow:hidden;
	position:relative;
				width: 320px;
				height: 480px;
	overflow-x:scroll;
	border-radius: 10px 10px 10px 10px;
}
#theGoods section {
				width: 270px;
				height: 150px;
	border:solid 10px #DDB95B;
	padding:15px;
	overflow-x:scroll;
	position: absolute;
		overflow:hidden;
}

#theGoods section.bottom 	{		bottom: 	-150px; }



#theGoods section h1 {
	margin:0px;
	font-size:20px;
}

#theGoods section p {
	margin:0px;
	font-size:16px;
	line-height:100%;
	text-align:justify;
	color:#353538;
}

#theGoods section img {
padding-left: 15px;
}

#theGoods section .button {
	display:block;

	width: 250px;
	height:25px;
	line-height:25px;

	padding:0px;
	background-color: #D1A32C;
	text-align:center;
	font-size:12px;
}
#theGoods section .button:hover {
	background-color: #EEAC03;
}


#theGoods section.bottom .button {
	position: absolute;
	left: -10px;
	top: -35px;
}
