#theGoods {
	border:solid 10px #AFAFAF;
	margin:15px auto;
	background-color: #1E2B31;
	overflow:hidden;
	position:relative;
	min-height:600px;
	width: 1165px;
}
#theGoods section {
	width:200px;
	border:solid 10px #DDB95B;
	padding:15px;
	background-color: #C79549;
	position: absolute;
}

#theGoods section.top 		{ left: 	315px; 		top: 		-345px; 	}
#theGoods section.bottom 	{ right: 	315px; 		bottom: 	-345px; }
#theGoods section.right 	{ right: 	-250px; 	top: 	120px; 	}

#theGoods section.left 		{ left: 	-250px; 	top: 	120px; 	}


#theGoods section h1 {
	margin:0px;
	font-size:20px;
}

#theGoods section p {
	margin:0px;
	font-size:16px;
	line-height:100%;
	text-align:justify;
	color:#353538;
}

#theGoods section .button {
	display:block;

	width: 250px;
	height:25px;
	line-height:25px;

	padding:0px;
	background-color: #D1A32C;
	text-align:center;
	font-size:12px;
}
#theGoods section .button:hover {
	background-color: #EEAC03;
}

#theGoods section.top .button {
	position: absolute;
	left: -10px;
	bottom: -35px;
}
#theGoods section.bottom .button {
	position: absolute;
	left: -10px;
	top: -35px;
}
#theGoods section.right .button {
	position: absolute;
	left: -195px;
	top: 150px;
	width: 345px;

	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
}
#theGoods section.left .button {
	position: absolute;
	right: -195px;
	top: 150px;
	width: 345px;

	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
}